@model FootballPredictionGame.Models.Fixture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fixture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HomeTeamId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeam.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayTeamId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayTeam.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayResult)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FixtureId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
