@model IEnumerable<FootballPredictionGame.Models.Fixture>

@{
    ViewBag.Title = "Fixtures";
}

<h2>Fixtures</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeResult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayResult)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            //@Html.DisplayFor(modelItem => item.HomeTeamId)
            @Html.DisplayFor(modelItem => item.HomeTeam.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeam.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeResult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayResult)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FixtureId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FixtureId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FixtureId })
        </td>
    </tr>
}

</table>
